@import url(../bower_components/normalize-css/normalize.css);
.instamaps-app {
  min-height: 500px;
  width: 100%; }

.instamaps-feed {
  width: 30%;
  height: 100%; }

.instamaps-map {
  width: 70%;
  height: 100%; }
